<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1></h1>
    <form action='/results' method='post'>
      <label for='inputNum'></label>
      <input type='number' id='inputNum' name='inputNum'>
      <button type='submit'>Submit</button>
    </form>

  </body>
</html>
