<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
      <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Results</title>
  </head>
  <body>
    <h1>How many matches were found?</h1>
    <h2> {{ results }} </h2>
    <h3><a href='/'>Try Again!</a></h3>

  </body>
</html>
